html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
}

.grid {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: aliceblue;
  width: 960px;
  height: 960px;
  gap: 4px;
}

.square {
  /* just for a visualization*/
  background-color: black;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  flex-grow: 0;
}

.line {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-shrink: 0;
  flex-grow: 0;
}
