html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
}

.grid {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  width: 960px;
  height: 960px;
  padding: 8px;
}

.square {
  background-color: black;
  border: 1px solid white;
  flex: auto;
  max-width: 100%;
  height: auto;
}

.line {
  display: inline-flex;
  justify-content: center;
  flex: auto;
}

.hover {
  background-color: red;
}
